<h1 mat-dialog-title>Edit <strong>Appointment</strong></h1>
<div mat-dialog-content>
  <form [formGroup]="appointmentForm">
    <mat-form-field class="full-width">
      <mat-label>Pet Name</mat-label>
      <input matInput formControlName="petName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Doctor First Name</mat-label>
      <input matInput formControlName="doctorFirstName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Doctor Last Name</mat-label>
      <input matInput formControlName="doctorLastName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Status</mat-label>
      <!-- <input matInput formControlName="status"> -->
      <mat-select formControlName="status">
        @for (status of statusOptions; track $index) {
            <mat-option [value]="status">
                {{status}}
              </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Diagnostic</mat-label>
      <input matInput formControlName="diagnostic">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Total Cost</mat-label>
      <input [disabled]="true" matInput formControlName="totalCost">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="cancel()">CANCEL</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="!appointmentForm.valid">SAVE</button>
</div>