<div class="mat-card-container">
  <mat-card class="appointment-list-card">
    <mat-card-title class="appointments-title"> Appointments </mat-card-title>

    <mat-card-content>
      <app-table
        [displayedColumns]="[
          'petName',
          'doctorFirstName',
          'doctorLastName',
          'date',
          'status',
          'diagnostic',
          'totalCost',
          'actions'
        ]"
      ></app-table>
    </mat-card-content>
  </mat-card>
</div>

  <button
    mat-fab
    color="primary"
    class="fab-button-new"
    (click)="goToNewAppointment()"
  >
    <mat-icon>add</mat-icon>
  </button>

  <button
    mat-fab
    color="warn"
    class="fab-button-log-out"
    (click)="logout()"
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
