.mat-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

// mat-card:hover {
//   box-shadow: 0px 8px 20px rgba(5, 2, 179, 0.3);
// }

.appointments-title {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 10px 0px;
  font-size: 2em;
}

.fab-button-new {
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 62px;
  height: 62px;
}

.fab-button-log-out {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 62px;
  height: 62px;
}

button mat-icon {
  font-size: 42px; 
  height: 42px;
  width: 42px; 
}