/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

// $m3-dark-theme: matx.define-theme((
//   color: (
//     theme-type: dark,
//     primary: matx.$m3-blue-palette,
//     tertiary: matx.$m3-blue-palette,
//   )
// ));

$m3-light-theme: matx.define-theme((
  color: (
    primary: matx.$m3-blue-palette,
    tertiary: matx.$m3-blue-palette,
    )
));

// .dark-theme {
//   @include mat.all-component-themes($m3-dark-theme);
// }

.light-theme {
  @include mat.all-component-themes($m3-light-theme);
}

html,
body { height: 100%; margin: 0; font-family: 'Open Sans', "Helvetica Neue", sans-serif; }

.mdc-switch .mdc-switch__handle-track {
  width: calc(100% - 52px) !important;
}